body {
  /* background-color: dodgerblue; */
  margin: 0;
}

/* checkerboard */
.black {
  width: 100px;
  height: 100px;
  background-color: #222222;
  float: left;
}
.red {
  width: 100px;
  height: 100px;
  background-color: tomato;
  float: left;
}
.board {
  width: 800px;
  display: flow-root;
}

/* column grid */
#columns {
  width: 50vw;
  margin: 100px auto 0;
}
header, nav, main, footer {
  width: 100%;
}
header, nav, footer, .column {
  background-color: rebeccapurple;
}
header {
  height: 100px;
  margin-bottom: 25px;
}
nav {
  height: 25px;
  margin-bottom: 25px;
}
main {
  display: flow-root;
}
.column {
  width: calc((100% - 50px) / 3);
  height: 400px;
  float: left;
}
.margins {
  margin-left: 25px;
  margin-right: 25px;
}
footer {
  height: 100px;
  margin-top: 25px;
}

/* blog styles */
#blog {
  width: 800px;
  margin: 25px auto 0;
}
.header {
  width: 800px;
  height: 100px;
  background-color: darkslateblue;
  margin-bottom: 75px;
}
.content {
  width: 650px;
  height: 500px;
  background-color: darkslateblue;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}
.avatar {
  width: 140px;
  height: 200px;
  background-color: darkslateblue;
  float: left;
}
.byline {
  width: 650px;
  height: 50px;
  background-color: darkslateblue;
  margin-bottom: 75px;
  float: left;
}

/* tennis styles */
#tennis {
  background-color: lightgreen;
}
#tennis div {
  box-sizing: border-box;
}
.court {
  width: 404px;
  margin: calc(50vh - 302px) auto;
  border: 2px solid white;
  display: flow-root;
}
.single {
  width: 300px;
  float: left;
}
.side, .back, .middle {
  background-color: seagreen;
  border: 2px solid white;
  float: left;
}
.side {
  width: 50px;
  height: 300px;
}
.back {
  width: 300px;
  height: 100px;
}
.middle {
  width: 150px;
  height: 200px;
}
