* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: lightgrey;
}

/* layout styles */
header {
  width: 100%;
  background-color: white;
  padding: 25px;
  display: flow-root;
}
.title {
  float: left;
}
nav {
  float: right;
}
main {
  width: 60vw;
  margin: 25px auto;
}
.row {
  width: 100%;
  display: flow-root;
  margin-top: 25px;
}
.project {
  width: calc(33.33333% - (50px / 3));
  float: left;
}
.margins {
  margin-left: 25px;
  margin-right: 25px;
}
/* type styles */
.title p {
  margin: 0;
}

/* list styles */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  margin: 0 15px;
}

/* img styles */
img {
  width: 100%;
}
